
<div class="jumbotron">
  <h1><marquee behavior="scroll" direction="left">Flexibility to optimise to meet requirements</marquee>
  </h1>      
  <p><marquee behavior="scroll" direction="left">Adjust, Add-on, Merge</marquee></p>
</div>

<div class="d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="https://image.shutterstock.com/z/stock-photo-circuit-board-technology-background-central-computer-processors-cpu-concept-motherboard-digital-746807584.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Compute</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/service/compute" class="btn btn-primary">Get Start</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://image.shutterstock.com/z/stock-photo-server-room-data-center-backup-mining-hosting-mainframe-farm-and-computer-rack-with-storage-1661104525.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Storage</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/service/storage" class="btn btn-primary">Get Start</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://image.shutterstock.com/z/stock-photo-businessman-hand-using-modern-laptop-with-cloud-backup-concept-technology-online-connection-online-631083656.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Backup</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/service/backup" class="btn btn-primary">Get Start</a>
        </div>
      </div>
</div>

