.navbar-brand{
    font-variant-caps: petite-caps;
    color: rgb(10, 121, 196);
    font-weight: bold;
}

.router-outlet-style {
    padding: 30px;
}

.navbar-nav{
    font-variant-caps: all-small-caps;
    font-weight: bold;
}