.cart-style {
    background-color: rgb(19, 208, 233);
    padding: 10px;
    font-variant-caps: petite-caps;
}

#Getme{
    border: darkgreen;
    background-color: rgb(32, 212, 113);
    box-shadow: darkslategray;
    border-radius: 12px; 
    font-weight: bold;
    font-size: 15px;
    font-variant-caps: petite-caps;
}